body {
  padding-top: 50px;
  padding-bottom: 30px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.container .jumbotron {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 10px;

}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.node.enter rect {
  stroke: #5A5A5A;
  stroke: #fff;
}

.node.enter.e rect {
  fill: #FFB90F;
  fill-opacity: 0.2;
}

.node.enter.D rect {
  fill: #A4E666;
  stroke: #fff;
  fill-opacity: 0.2;
}

.node.enter.server rect {
  stroke : #A4E666;
}

.node.enter.client rect {
  stroke : #00ffd0;
}

.node.enter.D.client rect {
  fill : #00ffd0;
  fill-opacity: 0.2;
}

.node.sliced rect {
  fill: #FF4D0E;
  fill-opacity: 0.2;
}

.node.enter.error rect {
  fill: #FB0005;
  fill-opacity: 0.2;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.edge.control {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.edge.data {
  stroke-width: 2px; 
  stroke : #000;
  stroke-dasharray: 5, 5;
  fill: none;
}

.edge.remote.data {
  stroke: #A4E666;
  stroke-width: 3px; 
  stroke-dasharray: 5, 5;
  fill: none;
}

.edge.call {
  stroke: #362B2F;
  fill: none;
  stroke-width: 1px;
}

.edge.object.member {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.edge.remote.call {
  stroke: #A4E666;
  fill: none;
  stroke-width: 2px;
}


.edge.remote.par-in {
  fill: none;
  stroke: #A4E666;
  stroke-width: 2px;
}

.edge.par-in {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.edge.par-out {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.edge.summary {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
}

div.tooltip {
    background: #fff;
    border:solid gray;
    position: absolute;
    min-width: 150px;
    min-height: 150px;
    white-space: pre;
}

div.fixed {
    position:fixed;
}
g.tooltip:not(.css) {
  fill:currentColor;
}


